<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="importhelp.prvapomoc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SafetyAssessment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Consciousness"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConsciousPerson"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Breathing"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BreathingPerson"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NonBreathingPerson"
            android:screenOrientation="portrait" />
        <activity
            android:name=".About"
            android:screenOrientation="portrait" />
    </application>

</manifest>